* {
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;

}
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    max-width: 1500px;
    margin-left: 120px;
    
}

.contenedor-menu{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*------------------Header-------------*/

header {
    background: #a09a9a;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 600px;

}

header .contenedor_logo_menu {
    padding: 45px 0;
   
}

header .logo {
    display: flex;
}

header .logo .logo-Nombre {
    margin: 10px;
    
}

header #menu-responsive {
    display: none;
}

header .menu-responsivo {
    width: 35px;
}

header label {
    cursor: pointer;
    display: none;
}

header .menu {
    list-style: none;
    text-align: right;
    margin-left: 310px;
}

header li {
    
    display: inline-block;
}

header .menu li a {
    
    color: #383534;
    /* margin: 10px 0 5px;  */
    margin: 0 5px;
    font-size: 16.5px;
    padding-bottom: 9px;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent; 
}

header .menu a:hover{
    border-bottom: 2px solid #181717;
}

header .textos {
    justify-content: center;
    align-content: center;
    margin: 60px 0;
}

header .textos .primera_linea,
header .textos .segunda_linea {
    padding: 10px;
}

header .redes_sociales {
    padding: 30px 0;
        
}

header .redes_sociales .contenedor {
    display: flex;
    justify-content: center;
    margin: -90px 0;

}

header .redes_sociales a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

header .redes_sociales .linkedin:hover {
    background: #00a0dc;
}

header .redes_sociales .github:hover {
    background: #333;

}

header .redes_sociales .curriculo:hover {
    background: #928897;
}

/*--------------------Main------------------*/

.main .contenedor {
    overflow: visible;
}

/*-------------------sobre mi---------------*/

.main .sobre_mi {
    text-align: center;
    background: #e0dada;
}

.main .sobre_mi img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.main .sobre_mi .texto {
    color: #5a5a5a;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .sobre_mi .texto .titulo {
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #464646;
    text-align: center;
    
}

.main .sobre_mi .texto p {
    padding: 10px;
    
}

/*-------------------Skills and Soft Skills and Hobbies----------------*/

/*
secion = section
div = contenedor
div = titulo
div = contenedor_div
div = div
div = descripcion
p = categoria
*/

.main .section {
    background:  #f2f2f2;
    padding: 30px 0;
}

.main .section .contenedor {
    background: #d5d8dc;
    overflow: hidden;
}

.main .section .titulo {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 300;
    color: #464646;
    text-align: center;
}

.main .contenedor_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .main .section .contenedor_div .div .thumb {
    text-align: center;
} */

.main .div a {
    color: #969c9c;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 40px;
    margin: 0 20px;

}

.main .section .contenedor_div .div .thumb .html:hover {
    background: #f5992a;
}

.main .section .contenedor_div .div .thumb .js:hover {
    background: #d3c70b;
}

.main .section .contenedor_div .div .thumb .css:hover {
    background: #0992fc;
}

.main .section .contenedor_div .div .thumb .node:hover {
    background: #1e9542;
}

.main .section .contenedor_div .div .thumb .python:hover {
    background: #fcde46;
}

.main .section .contenedor_div .div .descripcion {
    
    text-align: center;
    
}

.main .section .contenedor_div .div .descripcion .categoria {
    font-weight: 400;
    color: #3895ea;
    margin-bottom: 20px;

}

/*----------------------Formacion academica-----------*/

.main .formacion_academica {
    background: #f2f2f2;
    padding: 30px 0;
} 

.main .formacion_academica .contenedor {
    overflow: hidden;
    background: #d5d8dc;
    padding: 20px 0;
}

.main .formacion_academica .titulo {
    font-size: 34px;
    margin-bottom: 60px;
    font-weight: 300;
    color: #464646;
    text-align: center;
}

.main .formacion_academica .contenedor_academica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
} 

.main .formacion_academica .contenedor .contenedor_academica .formacion_acade .thumb img {
    width: 250px;
    height: 120px;
    background: #fff;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 40px;
    margin: 0 20px;
   
}

.main .formacion_academica .contenedor .contenedor_academica .formacion_acade .descripcion {
    text-align: center;
    text-shadow: 2px 2px 5px #636363;
    padding: 10px;
}

.main .formacion_academica .descripcion .nombre {
    font-weight: 400;
    color: #3895ea;
    margin-bottom: 20px;
  /*  margin-top: 20px;
    margin-right: 650px;*/
}

.main .formacion_academica .descripcion .categoria {
    font-weight: 400;
    margin-bottom: 20px;
    
}

/*----------------------Experiencia profesional*/

.main .experiencia_profesional {
    background: #f2f2f2;
    padding: 20px 0;
}

.main .experiencia_profesional .contenedor{
    overflow: hidden;
    
}

.main .experiencia_profesional .titulo {
    font-size: 34px;
    margin-bottom: 60px;
    font-weight: 300;
    color: #464646;
    text-align: center;
}

.main .experiencia_profesional .contenedor_experiencia .experiencia {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

.main .experiencia_profesional .contenedor_experiencia .experiencia .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .experiencia_profesional .contenedor_experiencia .experiencia .thumb img {
    width: 452px;
    height: 406;
    vertical-align: top;
    border-radius: 3px;
    margin-left: 20px;
    
}

.main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion {
    text-align: center;
}

.main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .nombre {
    font-weight: 400;
    color: #3895ea;
    margin-left: -550px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .categoria {
    font-size: 14px;
    color: #636363;
    margin-left: -565px;
    margin-right: 30px;
    margin-bottom: 10px;
}


.main .experiencia_profesional .contenedor_experiencia .experiencia .botones .btn_repositorio{
    
    width: 17%;
    height: 50px;
    border-radius: 5px;
        
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    
    padding: 14px; 

    color: #fff;
    background: #333;
    border: none;

}

.main .experiencia_profesional .contenedor_experiencia .experiencia .botones .btn_demo {
    flex-direction: column;
    width: 17%;
    height: 50px;
    border-radius: 5px;

    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    
    padding: 10px; 

    color: #fff;
    background: #636363;
    border: none;

}


/*-------------------------footer------------*/

footer .contenedor {
    padding: 60px 0;
    
}

footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #3895ea;
    text-align: center;
}

footer .contacto .p-contacto {
    margin-left: 40px;
    padding: 20px 0;
}

footer .contacto .contenedor-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

footer .contacto .form-control input {
    border: none;
}

footer .falla{
    border: solid 1px red;
    box-shadow: 0 0 10px red;

}

footer .contacto .form-control .ok input {
    
    border: solid 1px #08ffc8;
    border-color: 0 0 10px #08ffc8;
} 

footer .error {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    margin-top: -2.5rem;
    text-align: right;
    
}

footer .error {
    visibility: visible; 
    color: #e80c3c;
}

footer .contacto    input[type="text"],
footer .contacto    input[type="email"],
footer .contacto   textarea {
    
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contacto   input[type="text"]:focus,
footer .contacto   input[type="email"]:focus,
footer .contacto   textarea:focus {
    border: 1px solid #3895ea;
}

footer .contacto    input[type="text"],
footer .contacto    input[type="email"] {
    width: 450px;
    margin-bottom: 45px;
}

footer .contacto   textarea {
    width: 980px;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
    resize: none;

}

footer .contacto .form-control.falla textarea {
    border: 0.1px solid;
    border-color: red;
}

footer .contacto .form-control.ok textarea {
    
    border: 0.1px solid;
    border-color: #08ffc8;
} 

footer .contacto .form-control .p-textarea {
    margin-top: -0.5rem;
}

.contenedor-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;

}

footer .contacto  .btn {
    
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
    
}

footer .contacto  .btn:hover {
    background: #387bea;
}

footer .copyright .contenedor p {
    text-align: center;
}

/*--------------------Responsive--------------*/

@media screen and (max-width: 1200px) {
    body {
        margin-left: 0px;
    }

    /* .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .nombre {
        margin-left: -400px;
    }

    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .categoria {
    
        margin-left: -420px;
        
    } */

}

@media screen and (max-width: 1007px) {
    /* header .menu li a {
        font-size: 16px;
    } */

    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .nombre,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .categoria,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .cate,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .name {
        margin-left: -350px;
    }

    footer .contacto   textarea{
        width: 880px;
    }

} /*este sirve*/

@media screen and (max-width: 970px) {
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .nombre,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .categoria,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .cate,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .name {
        margin-left: -300px;
    }
}/*este sirve*/

@media screen and (max-width: 961px) {

    header .menu {
        margin: 10px;
    }

    footer .contacto    input[type="text"],
    footer .contacto    input[type="email"] {
        width: 400px;
        
}

}

@media screen and (max-width: 900px) {
    .main .experiencia_profesional .contenedor_experiencia .experiencia .thumb img {
        width: 55%;
    }

    footer .contacto   textarea {
        width: 800px;
        
    }
}

@media screen and (max-width: 850px) {
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .cate2 {
        margin-left: -250px; 
    }
}

@media screen and (max-width: 800px) {

    .main .experiencia_profesional .contenedor_experiencia .experiencia .thumb img {
        width: 330px;
        
    } 
    
    footer .contacto    input[type="text"],
    footer .contacto    input[type="email"] {

        width: 270px;
    }

    footer .contacto   textarea {
        width: 595px;
        
    }

    footer .copyright .contenedor p {
        margin-top: -40px;
    }
    
}

@media screen and (max-width: 770px){
        
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .nombre,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .categoria {
        margin-left: -200px; 
    }

    .section .div .thumb .img {
        width: 60px;
    }

    .section .div .descripcion .cate {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px){
    /* input #menu, img .menu-icon, label for:menu, ul .menu, li .item*/
    header .menu {
        padding: 30px;
        margin: 15px;
    }

    header .primera_linea {
        margin-top: 130px;
    }

    header .li-respon {
        margin-bottom: 1px;
        
    }

    header .menu a:hover{
        border-bottom: transparent;
    }

    header .menu {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        
        
    }

    header .oculto {
        display: none;
    }
    header .menu-responsivo {
        margin-left: 280px;
    }

    header label {
        display: initial;
    }

    header li {
        margin: 0 0 20px 0;
        width: 50%;
    }

    header .contenedor .textos .primera_linea, .segunda_linea {
        padding: 20px 0;
        text-align: center;
    }

    .main .sobre_mi .foto-perfil {
        margin-top: 20px;
    }

    .main .experiencia_profesional .contenedor_experiencia .experiencia .thumb img {
        width: 280px;
        
    }

    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .django {
        margin-left: -150px;
    }
    
    .main .experiencia_profesional .btn_repositorio {
        margin-right: 15px;
    }

    footer .contacto    input[type="text"],
    footer .contacto    input[type="email"]{

        width: 270px;
    }

    footer .contacto   textarea {
        width: 595px;
        
    }

    footer .contacto .p-contacto {
        margin-left: 30px;
    }

    footer .copyright .contenedor p {
        margin-top: -60px;
    }
}

@media screen and (max-width: 600px) {

    header .logo .logo-Nombre {
        font-size: 14px;
    }

    header .menu-responsivo {
        margin-left: 200px;
    }
    header .primera_linea {
        margin-top: 100px;
        font-size: 14px;
    }

    header .segunda_linea {
        font-size: 14px;
    }

    .main .sobre_mi .foto-perfil {
        margin-top: 30px;
    }

    .main .formacion_academica .contenedor .contenedor_academica .formacion_acade .thumb img {
        width: 300px;
        height: 150px;
    }

    .main .experiencia_profesional .contenedor_experiencia .experiencia .thumb img {
        width: 190px;
        
    }

    footer .contacto    input[type="text"],
    footer .contacto    input[type="email"]{
        width: 490px;
    }

    footer .contacto   textarea {
        width: 490px;
        
    }

}

@media screen and (max-width: 500px) {

    header .logo .logo-Nombre {
        font-size: 12px;
    }
    header .menu-responsivo {
        margin-left: 150px;
    }
    
    .main .formacion_academica .contenedor .contenedor_academica .formacion_acade .thumb img {
        width: 300px;
        height: 150px;
    
    }

    .main .experiencia_profesional .contenedor_experiencia .experiencia .thumb img {
        width: 140px;
    }

    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .nombre,
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .categoria{
        margin-left: -100px;
    }
    .main .experiencia_profesional .contenedor_experiencia .experiencia .descripcion .django {
        margin-left: -98px;
    }

    footer .contacto    input[type="text"],
    footer .contacto    input[type="email"]{

        width: 450px;
    }

    footer .contacto   textarea {
        width: 450px;
        
    }

}

































